.containerart {
  overflow: hidden;
}

.filterDiv {
  /**float: left;
  background-color: #2196F3; 
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;**/
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: inherit;
  outline: inherit;
  padding: 12px 16px;
  background-color: inherit;
  cursor: inherit;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: inherit;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: inherit;
  color: inherit;
}

#myBtnContainer {
    padding-bottom: 50px;
    padding-top: 20px;
}

h2.post {
    margin-bottom: 0em !important;
}

h6.post {
    font-weight: 200 !important;
    font-style: italic !important;
    text-transform: uppercase !important;
}
